@import url(https://db.onlinewebfonts.com/c/21379d8fbabd2222e354e68834a8d266?family=Mark+for+Ebiquity+W05+Bold);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mark for Ebiquity W05 Bold';
}
